*{
 padding: 0;
 margin: 0; 
 box-sizing: border-box;  
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
nav{
    position: relative;
    height: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 10px #ff33cc;
}
nav a{
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
    z-index: 1;
}
span{
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg, #c8f927, #33c4de);
    transition: all .6s ease-in-out;
}
a:nth-child(1):hover ~ span{
    left: 0%;
}
a:nth-child(2):hover ~ span{
    left: 25%;
}
a:nth-child(3):hover ~ span{
    left: 50%;
}
a:nth-child(4):hover ~ span{
    left: 75%;
}
a:hover{
    color: #333;
    transition: all .3s ease-in-out;
}