*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background: #526D82;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.social-icon1{
    width: 50%;
    height: 60px;
    border-radius: 10px;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.icon1{
    width: 40px;
    height: 40px;
    border: 2px solid lightgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .5s ease, box-shadow .5s ease, transform .3s ease;
}
.icon:hover{
    color: lightgreen;
    box-shadow: 0 0 10px lightgreen;
    transform: scale(1.2);
}

.social-icon2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.icon2{
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #666;
    box-shadow: 0 0 10px #7c7c7c;
    transition: all .7s ease-in-out;
    position: relative;
}

.icon2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #77ffee;
    z-index: -1;
    transition: all .7s ease-in-out;
    transform: scale(1.2);
}
.icon2:hover:before{
    transform: scale(1.3);
    box-shadow: 0 0 20px #77ffee;
    transition: all .7s ease-in-out;
}
.icon2:hover{
    color: #77ffee;
    transition: all .7s ease-in-out;
}
